.parent {
    width: 400px;
    height: 800px;
    border: 2px solid black;
    margin-left: 20px;
}

.boxStyle {
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

.first {
    margin: 40px;
    background-color: lightcoral;
}

.second {
    margin: 40px;
    background-color: lightblue;
}