.headingWithLine h3::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    margin-bottom: 8px;
}

.headingWithLine h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: gray;
    margin-top: 8px;
    margin-bottom: 8px;
}