.table thead {
    background-color: lightblue;
}
.table th,
.table td {
    padding: 10px;
    border: 1px solid black;
}
.table tbody tr:nth-child(even) {
    background-color: lightgray;
}

.table tbody tr:nth-child(odd) {
    background-color: lightyellow;
}