.parent {
    width: 800px;
    height: 800px;
    border: 2px solid black;
    margin-left: 20px;
    display: flex;
}

.boxStyle {
    width: 200px;
    height: 200px;
    border: 10px solid black;
}

.first {
    margin: 40px;
    background-color: lightcoral;
    box-sizing: border-box;
}

.second {
    margin: 40px;
    background-color: lightblue;
    box-sizing: border-box;
}

.third {
    margin: 40px;
    background-color: lightgreen;
    box-sizing: border-box;
}