.parent {
    width: 800px;
    height: 400px;
    border: 2px solid black;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.boxStyle {
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

.first {
    background-color: lightcoral;
    margin: auto;
}

.second {
    background-color: lightgray;
    margin: auto;
}