.parent {
    width: 400px;
    height: 800px;
    border: 2px solid black;
    margin-left: 20px;
}

.boxSize {
    width: 200px;
    height: 200px;
}

.first {
    margin: 40px;
    background-color: lightcoral;
    border-radius: 5px;
}

.second {
    margin: 40px;
    background-color: lightblue;
    border-radius: 20px;
}

.third {
    margin: 40px;
    background-color: lightgreen;
    border-radius: 50%;
}