.parent {
    width: 400px;
    height: 800px;
    border: 2px solid black;
    padding: 20px;
    margin-left: 20px;
}

.first {
    margin:auto;
    width: 200px;
    height: 200px;
    border-bottom: 10px;
    border-top: 20px;
    border-left: 30px;
    border-right: 40px;
    border-top-style: dotted;
    border-top-color: lightblue;
    border-bottom-style: dashed;
    border-bottom-color: lightcoral;
    border-left-style: double;
    border-left-color: aqua;
    border-right-style: ridge;
    border-right-color: black;
}